<h1>Welcome to Home Page</h1>
<%= link_to "Article listing", articles_path %> |
<%= link_to 'Bloggers', users_path %></td> |
<%= link_to "About Us", about_path %>|
<%= link_to "SignUp", signup_path %>
